@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Ubuntu", sans-serif;
}

.text-dark-brown {
  color: #bd6a2c;
}

.text-light-brown {
  color: #e49b3a;
}

.bg-carton-brown {
  background-color: rgba(223, 149, 55, 0.36);
}

.grayish {
  color: #bebbbb;
}

.bg-carton-brown-hover:hover {
  background-color: rgba(223, 149, 55, 0.36);
}

.bg-dark-brown {
  background-color: #bd6a2c;
}

.bg-dark-brown-hover:hover {
  background-color: #bd6a2c;
}

.bg-orange {
  background-color: #f5ae30;
}

.bg-orange-hover:hover {
  background-color: #f5ae30;
}

.text-orange {
  color: #f5ae30;
}

.input-border-dark {
  border: 1px solid #65361080;
}

.input-border-light {
  border: 1px solid #f5ae30;
}

.input-border-lighter {
  border: 1px solid #f5ae3080;
}

.bottom-border-orange {
  border-bottom: 1px solid #f5ae30;
}

.bg-rum-brown {
  background-color: #cf712b;
}

.text-rum-brown {
  color: #cf712b;
}

.bg-rum-light-brown {
  background-color: #cf712b57;
}

.border-brown-light {
  border-color: #e49b3a;
}

.bg-brown-light {
  background-color: #e49b3a;
}

.bg-leaf-green {
  background-color: #6abf4b;
}

.text-tan {
  color: #846449;
}

.text-light-tan {
  color: #3a3a3a;
}

.bg-gray {
  background-color: #efefef;
}

.border-leaf-green {
  border-color: #6abf4b;
}

.border-width-medium {
  border-left-width: 20px;
}

.cocktail img:hover,
.image-grid img:hover {
  transform: scale(1.1) !important;
  transition: 0.5s;
}

.h-800 {
  height: 800px;
}

.shop-background-image {
  background-image: url("/jinterros-rum.webp"), url("/flower-2.webp");
  background-position: bottom, right;
  background-repeat: no-repeat, no-repeat;
}
