@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Ubuntu", sans-serif;
}

.text-brown-old {
  color: #bd6a2c;
}

.text-brown-old-hover:hover {
  color: #bd6a2c;
}

.text-dark-brown {
  color: #4a4a4a;
}

.text-gray {
  color: #a9a9a9;
}

.text-light-brown {
  color: #e49b3a;
}

.bg-carton-brown {
  background-color: rgba(223, 149, 55, 0.36);
}

.grayish {
  color: #bebbbb;
}

.bg-carton-brown-hover:hover {
  background-color: rgba(223, 149, 55, 0.36);
}

.bg-dark-brown {
  background-color: #bd6a2c;
}

.bg-dark-brown-hover:hover {
  background-color: #bd6a2c;
}

.bg-orange {
  background-color: #f5ae30;
}

.bg-orange-hover:hover {
  background-color: #f5ae30;
}

.text-orange {
  color: #f5ae30;
}

.input-border-dark {
  border: 1px solid #65361080;
}

.input-border-light {
  border: 1px solid #f5ae30;
}

.input-border-b-light {
  border-bottom: 1px solid #f5ae30;
}

.input-border-lighter {
  border: 1px solid #f5ae3080;
}

.orange-light {
  background-color: #f5ae3080;
}

.bottom-border-orange {
  border-bottom: 1px solid #f5ae30;
}

.bg-rum-brown {
  background-color: #cf712b;
}

.text-rum-brown {
  color: #cf712b;
}

.text-rum-dark-brown {
  color: #a96224;
}

.bg-rum-light-brown {
  background-color: #cf712b57;
}

.border-brown-light {
  border-color: #e49b3a;
}

.bg-brown-light {
  background-color: #e49b3a;
}

.bg-leaf-green {
  background-color: #6abf4b;
}

.text-tan {
  color: #846449;
}

.text-light-tan {
  color: #3a3a3a;
}

.bg-gray {
  background-color: #efefef;
}

.border-leaf-green {
  border-color: #6abf4b;
}

.border-width-medium {
  border-left-width: 20px;
}

.border-brown-left {
  border-left: 8px solid #bd6a2c;
}

.cocktail img:hover,
.image-grid img:hover,
.product-grid img:hover {
  transform: scale(1.1) !important;
  transition: 0.5s;
}

.h-800 {
  height: 800px;
}

.min-h-400 {
  min-height: 400px;
}

.h-90 {
  height: 90%;
}

.shop-background-image {
  background-image: url("/jinterros-rum.webp"), url("/flower-2.webp");
  background-position: bottom, right;
  background-repeat: no-repeat, no-repeat;
}

.learnmore {
  background-image: url("/learn-more-bg.webp");
}

.main {
  background-image: url("/coconut.webp"), url("/flower-2.webp");
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
}

.experience-banner {
  height: 100%;
  width: 100%;
}

.logo-wrapper-mobile {
  left: 41%;
}

@media (min-width: 768px) {
  .lg-h-800 {
    height: 800px;
  }
}

@media (max-width: 768px) {
  .admin-auth-form {
    background-image: url("/3-bottles.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .experience-banner
    .text-content.my-6.lg\:my-16.w-5\/6.lg\:w-2\/3.flex.flex-col.justify-center.mx-auto {
    width: 100% !important;
  }

  .privacy-and-conditions {
    overflow-x: scroll;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 10px;
    left: 20px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
  .orders-table td:nth-of-type(1):before {
    content: "Invoice ID";
  }
  .orders-table td:nth-of-type(2):before {
    content: "Date";
  }
  .orders-table td:nth-of-type(3):before {
    content: "Job Title";
  }
  .orders-table td:nth-of-type(4):before {
    content: "Customer";
  }
  .orders-table td:nth-of-type(5):before {
    content: "Total";
  }
  .orders-table td:nth-of-type(6):before {
    content: "Payment Status";
  }
  .orders-table td:nth-of-type(7):before {
    content: "Fulfillment Status";
  }
  .orders-table td:nth-of-type(8):before {
    content: "Items";
  }
  .orders-table td:nth-of-type(9):before {
    content: "Delete";
  }

  .product-table td:nth-of-type(1):before {
    content: "S/N";
  }
  .product-table td:nth-of-type(2):before {
    content: "Title";
  }
  .product-table td:nth-of-type(3):before {
    content: "Price ($)";
  }
  .product-table td:nth-of-type(4):before {
    content: "Alcohol Volume (%)";
  }
  .product-table td:nth-of-type(5):before {
    content: "Author";
  }
  .product-table td:nth-of-type(6):before {
    content: "Created At";
  }
  .product-table td:nth-of-type(7):before {
    content: "Delete";
  }

  .page-table td:nth-of-type(1):before {
    content: "S/N";
  }
  .page-table td:nth-of-type(2):before {
    content: "Title";
  }
  .page-table td:nth-of-type(3):before {
    content: "Author";
  }
  .page-table td:nth-of-type(4):before {
    content: "Created At";
  }
  .page-table td:nth-of-type(5):before {
    content: "Delete";
  }

  .cocktail-table td:nth-of-type(1):before {
    content: "S/N";
  }
  .cocktail-table td:nth-of-type(2):before {
    content: "Cocktail";
  }
  .cocktail-table td:nth-of-type(3):before {
    content: "Author";
  }
  .cocktail-table td:nth-of-type(4):before {
    content: "Created At";
  }
  .cocktail-table td:nth-of-type(5):before {
    content: "Delete";
  }

  .policy-table td:nth-of-type(1):before {
    content: "S/N";
  }
  .policy-table td:nth-of-type(2):before {
    content: "Title";
  }
  .policy-table td:nth-of-type(3):before {
    content: "Author";
  }
  .policy-table td:nth-of-type(4):before {
    content: "Created At";
  }
  .policy-table td:nth-of-type(5):before {
    content: "Delete";
  }
}
